@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  --font-family: "Playwrite IT Moderna", sans-serif;
  font-family: var(--font-family);
  /* purple-200 */
  --main-200: oklch(90.2% 0.063 306.703);
  /* purple-300 */
  --main-300: oklch(82.7% 0.119 306.383);
  /* purple-400 */
  --main-color: oklch(71.4% 0.203 305.504);
  /* purple-500*/
  --main-500: oklch(62.7% 0.265 303.9);
  /* purple-600 */
  --main-600: oklch(55.8% 0.288 302.321);
}

html,
body {
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.MuiTypography-root {
  font-family: var(--font-family) !important;
}